@use "./base.scss";

// put your custom CSS here!
.callout {
    & > .callout-content > :first-child {
        background-color: var(--light) !important;
        border-color: var(--border) !important;
        border-size: 1px !important;
        margin: 1em !important;
  }
