@use "./base.scss";

// put your custom CSS here!
.callout {
    & > .callout-content {
            background: var(--light);
            border: 1px solid var(--border);
            border-radius: 2px;
            margin-bottom: 1em;
        & > p {
            padding: 0.5em, 0.5em, 0em, 0.5em;
        }
    }
}
 
